<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.philip.edu.eval.mapper.DictMapper">
	<resultMap id="schoolResultMap" type="com.philip.edu.eval.bean.School">
		<id property="id" column="id"/>
		<result property="school_name" column="school_name"/>
		<result property="school_code" column="school_code"/>
		<result property="city" column="city"/>
		<result property="type" column="type"/>
		<result property="memo" column="memo"/>
	</resultMap>
	
	<resultMap id="majorResultMap" type="com.philip.edu.eval.bean.TblMajor" >
    <id column="id" property="id" jdbcType="BIGINT" />
     <result column="major_name" jdbcType="VARCHAR" property="majorName" />
    <result column="major_code" jdbcType="VARCHAR" property="majorCode" />
    <result column="major_class" jdbcType="VARCHAR" property="majorClass" />
    <result column="main_lecture" jdbcType="VARCHAR" property="mainLecture" />
    <result column="is_first_class" jdbcType="VARCHAR" property="isFirstClass" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  
   <resultMap id="chosenMajorAllResultMap" type="com.philip.edu.eval.bean.ChosenMajor" >
   	<id column="id" property="id" jdbcType="BIGINT" />
   	<result column="school_id" property="school_id" jdbcType="BIGINT"/>
   	<result column="major_id" property="major_id" jdbcType="BIGINT"/>
   	<result column="major_code" property="major_code" jdbcType="VARCHAR"/>
   	<result column="major_name" property="major_name" jdbcType="VARCHAR"/>
   </resultMap>
   
   <resultMap id="chosenMajorResultMap" type="java.lang.Integer">
   	  <result column="major_id" property="major_id" jdbcType="BIGINT"/>
   </resultMap>
	
	<resultMap id="cityResultMap" type="java.lang.String">
		<result property="city" column="city"/>
	</resultMap>
	
	<resultMap id="typeResultMap" type="java.lang.String">
		<result property="type" column="type"/>
	</resultMap>

    <select id="getSchoolList" resultMap="schoolResultMap">
        SELECT * FROM tbl_school
    </select>
    
    <select id="getSchoolById" resultMap="schoolResultMap">
    	select * FROM tbl_school where id=#{id}
    </select>
    
    <insert id="createSchool" parameterType="com.philip.edu.eval.bean.School" useGeneratedKeys="true" keyProperty="id">
    	insert into tbl_school(school_name, school_code, city, type, memo, create_time, update_time)
    	values(#{school_name}, #{school_code}, #{city}, #{type}, #{memo}, #{create_time}, #{update_time})
    </insert>
    
    <update id="updateSchool" parameterType="com.philip.edu.eval.bean.School">
    	update tbl_school set school_name=#{school_name}, school_code=#{school_code}, type=#{type}, city=#{city},
    	memo=#{memo}, update_time=#{update_time} where id=#{id}
    </update>
    
    <delete id="deleteSchool" parameterType="int">
    	delete from tbl_school where id=#{id}
    </delete>
    
    <delete id="batchDeleteSchool" parameterType="int[]">
    	delete from tbl_school where id in 
    	<foreach collection="array" item="ids" index="no" open="(" separator="," close=")">
    		#{ids}
    	</foreach>
    </delete>
    
    
   <select id="getMajorList" resultMap="majorResultMap">
  	select * from tbl_major
  </select>
  
  <select id="getMajorById" resultMap="majorResultMap">
  	select * from tbl_major    where id = #{id,jdbcType=BIGINT}
  </select>
 
  <insert id="createMajor" parameterType="com.philip.edu.eval.bean.TblMajor" >
   insert into tbl_major (major_name, major_code, 
      major_class, main_lecture, is_first_class, 
      memo, create_time, update_time
      )
    values ( #{majorName,jdbcType=VARCHAR}, #{majorCode,jdbcType=VARCHAR}, 
      #{majorClass,jdbcType=VARCHAR}, #{mainLecture,jdbcType=VARCHAR}, #{isFirstClass,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
 

  <update id="updateMajor" parameterType="com.philip.edu.eval.bean.TblMajor" >
   update tbl_major
    set major_name = #{majorName,jdbcType=VARCHAR},
      major_code = #{majorCode,jdbcType=VARCHAR},
      major_class = #{majorClass,jdbcType=INTEGER},
      main_lecture = #{mainLecture,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      is_first_class = #{isFirstClass,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <delete id="deleteMajor" parameterType="int">
    	delete from tbl_major where id = #{id,jdbcType=BIGINT}    
    </delete>
  
  
   <delete id="batchDeleteMajor" parameterType="int[]">
    	delete from tbl_major where id in 
    	<foreach collection="array" item="ids" index="no" open="(" separator="," close=")">
    		#{ids,jdbcType=BIGINT}
    	</foreach>
    </delete>
    
    <select id="getCity" resultMap="cityResultMap">
    	select distinct city from tbl_school
    </select>
    
    <select id="getType" resultMap="typeResultMap">
    	select distinct type from tbl_school
    </select>
    
    <select id="testGetChosenMajor" parameterType="int" resultMap="chosenMajorResultMap">
    	select sm.id, sm.school_id, sm.major_id, m.major_code, m.major_name 
    	from tbl_school_major sm 
    	left join tbl_major m 
    	on sm.major_id = m.id 
    	where sm.school_id=#{school_id};
    </select>
    
    <select id="getChosenMajor" parameterType="int" resultMap="chosenMajorResultMap">
    	select major_id from tbl_school_major where school_id=#{school_id}
    </select>
    
    <delete id="deleteChosenMajor" parameterType="int">
    	delete from tbl_school_major where school_id=#{school_id}
    </delete>
    
    <insert id="saveChosenMajor">
    	insert into tbl_school_major(school_id, major_id)
    	values
    	<foreach collection="majors" item="major" separator=",">
    		(#{school_id}, #{major})
    	</foreach>
    </insert>
</mapper>
