<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.philip.edu.eval.mapper.DictMapper">
	<resultMap id="schoolResultMap" type="com.philip.edu.eval.bean.School">
		<id property="id" column="id"/>
		<result property="school_name" column="school_name"/>
		<result property="school_code" column="school_code"/>
		<result property="build_year"  column="build_year"/>
		<result property="type" column="type"/>
		<result property="properties" column="properties"/>
		<result property="level"  column="level"/>
		<result property="memo" column="memo"/>
	</resultMap>

    <select id="getSchoolList" resultMap="schoolResultMap">
        SELECT * FROM tbl_school
    </select>
    
    <insert id="createSchool" parameterType="com.philip.edu.eval.bean.School" useGeneratedKeys="true" keyProperty="id">
    	insert into tbl_school(school_name, school_code, build_year,type, properties, memo, create_time, update_time)
    	values(#{school_name}, #{school_code}, #{build_year}, #{type}, #{properties}, #{memo}, #{create_time}, #{update_time})
    </insert>
    
    <update id="updateSchool" parameterType="com.philip.edu.eval.bean.School">
    	update tbl_school set school_name=#{school_name}, school_code=#{school_code}, build_year=#{build_year}, type=#{type}, 
    	properties=#{properties}, memo=#{memo}, update_time=#{update_time} where id=#{id}
    </update>
</mapper>
