<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.philip.edu.eval.mapper.SchoolUserMapper" >
  <resultMap id="SchoolMajorResultMap" type="com.philip.edu.eval.bean.TblSchoolMajor" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="school_id" property="schoolId" jdbcType="BIGINT" />
    <result column="major_id" property="majorId" jdbcType="BIGINT" />
  </resultMap>
  
  
  
  <resultMap id="SchoolUserResultMap" type="com.philip.edu.eval.bean.TblSchoolUser" >
     <id column="id" property="id" jdbcType="BIGINT" />
      <result column="role_id" property="roleId" jdbcType="BIGINT" />
     <result column="role_name" property="roleName" jdbcType="VARCHAR" />
     <result column="user_id" property="userId" jdbcType="BIGINT" />
     <result column="user_name" property="userName" jdbcType="VARCHAR" />
     <result column="school_id" property="schoolId" jdbcType="BIGINT" />
     <result column="school_name" property="schoolName" jdbcType="VARCHAR" />
  </resultMap>

  
  <select id="getNameSchoolUser" resultMap="SchoolUserResultMap"  >				
	  	SELECT '学校管理员' role_name,c.*,d.chinese_name from (	
			select a.id school_id,a.school_name,b.user_id from tbl_school a  LEFT JOIN tbl_school_user b on a.id = b.school_id
				) c LEFT JOIN tbl_users  d  on c.user_id = d.id
  </select>
  
  <select id="selectByPrimaryKeySchoolMajor" resultMap="SchoolMajorResultMap"  >
    select *
    from tbl_school_major
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKeySchoolMajor"  >
    delete from tbl_school_major
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insertSchoolMajor" parameterType="com.philip.edu.eval.bean.TblSchoolMajor" >
    insert into tbl_school_major (id, school_id, major_id
      )
    values (#{id,jdbcType=BIGINT}, #{schoolId,jdbcType=BIGINT}, #{majorId,jdbcType=BIGINT}
      )
  </insert>
 
  <update id="updateByPrimaryKeySchoolMajor" parameterType="com.philip.edu.eval.bean.TblSchoolMajor" >
    update tbl_school_major
    set school_id = #{schoolId,jdbcType=BIGINT},
      major_id = #{majorId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
   <select id="getRolenameSchoolMajor" resultType="com.philip.edu.eval.bean.TblSchoolMajor" >
  select * from tbl_school_major
  </select>
 
  <select id="selectByPrimaryKeySchoolUser" resultMap="SchoolUserResultMap"  >
    select 
    from tbl_school_user
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteSchoolUser" parameterType="int" >
    delete from tbl_school_user
    where school_id = #{schoolId,jdbcType=BIGINT}
  </delete>
  

  <insert id="createSchoolUser" parameterType="com.philip.edu.eval.bean.TblSchoolUser" >
    insert into tbl_school_user (user_id, school_id
      )
    values ( #{userId,jdbcType=BIGINT}, #{schoolId,jdbcType=BIGINT}
      )
  </insert>
  
 

  <update id="updateSchoolUser" parameterType="com.philip.edu.eval.bean.TblSchoolUser" >
    update tbl_school_user
    set user_id = #{userId,jdbcType=BIGINT} 
    where   school_id = #{schoolId,jdbcType=BIGINT}
  </update> 
  

</mapper>