<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>填报详情</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-card">

        <div class="layui-card-body">
		 <button class="layui-btn layuiadmin-btn-list" data-type="add" style="margin-bottom: 10px;"> <i class="layui-icon layui-icon-add-1"></i> 加入支撑材料</button>     
       
        <button type="button" class="layui-btn layui-btn-normal" id="upload"  style="display: none;" >上传文件</button> 
       	<input type="text" hidden="hidden"    id="upload_id" name="upload_id">
		<input type="hidden" id="form_performance_id" name="form_performance_id">
        <table  id="demo"  lay-filter="demo"></table> 
        <script type="text/html" id="test-table-toolbar-barDemo">
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="upload"><i class="layui-icon layui-icon-upload-circle"></i>上传</a>
          <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="download"><i class="layui-icon layui-icon-download-circle"></i>下载</a>
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script> 
         </div>		
      </div>
    </div>

  <script src="../../layuiadmin/layui/layui.js"></script> 
  <script src="../util/Constants.js"></script> 
  <script>
  var projectBase = Class.getURL();

  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['laydate', 'laypage','element','index', 'contlist', 'table', 'layer','admin','upload'], function(){
    var table = layui.table //表格
    ,laypage = layui.laypage //分页
    ,layer = layui.layer //弹层
    ,form = layui.form
	,admin = layui.admin
	,upload=layui.upload,
	$ = layui.$; 
    
	table.render({
	  elem: '#demo'
	  ,height: 450
	  ,url: projectBase + '/collectionMaterial/getCollectionMaterial'//数据接口
	  ,where: {'form_performance_id':$('#form_performance_id').val()}
	  //,page: true //开启分页
	  ,cols: [[ //表头
		 {type: 'checkbox', align:'center'}
		,{type: 'numbers', title: '序号', align:'center'}
	    ,{field: 'materialname', title: '支撑材料', align:'center',width:230}
	    ,{field: 'file_name', title: '文件名', align:'center',width:230 }
	    ,{field: 'docsize', title: '文件大小', align:'center',templet :function (row){
	    	if(row.docsize != null){
	    		 return row.docsize+' KB';
	    	}else{
	    		 return '';
	    	}
           
        } } 
	    ,{field: 'updateTime', title: '上传时间', align:'center',templet :function (row){
            return updateTime(row.updateTime);
        } }	 
		,{fixed: 'right', title:'操作', align:'center',width:230, toolbar: '#test-table-toolbar-barDemo'} 
	  ]]
	 //,limits: [10,20,50]
     //,limit: 10 //每页默认显示的数量
	});
	
	//监听行工具事件
	table.on('tool(demo)', function(obj){
	  var data = obj.data;
	  if(obj.event === 'del'){
				if(data.required == 'Y')return layer.msg('这是必填文件，不能删除!',function(){
					
				}); 
	    layer.confirm('确定删除这文件吗？', function(index){
	    	
	    		$.ajax({
	    					type:'POST',
	    					url: projectBase + '/collectionMaterial/deleteCollectionMaterial',
	    					data:data,
	    					dataType:'json',
							async: false,
	    					done:function(res){
	    									if(res.code==0){       
	    					                        layer.msg('删除文件成功!');
	    					                } else {          
	    					                      
	    															layer.msg('删除文件失败!');
	    													
	    					                }
							},             
	    					 error:function(data){
	    									
	    													layer.msg('删除文件的过程中出现错误!');
	    										
	    					  }     
	    				});
	      obj.del();
	      layer.close(index);
		  layer.msg('已成功删除!');
		  });
	  } else if(obj.event === 'upload'){
		  //alert(data.docsize);
		   $('#upload_id').val(data.id);
		   $("#upload").click();
 
	  } 
	  else if (obj.event == 'download'){
		  layer.load(); //上传loading
		  window.location.href= projectBase + "/collectionMaterial/downloadMaterial?doc="+data.doc;	     
		  layer.closeAll();
	  }  
	});
	
	
    //监听搜索
    form.on('submit(LAY-app-contlist-search)', function(data){
      var field = data.field;
      //执行重载
      table.reload('demo', {
        where: field
      });
    });
    
    var $ = layui.$, active = {
      batchdel: function(){
        var checkStatus = table.checkStatus('demo')
        ,checkData = checkStatus.data
		,id=[]; //得到选中的数据

        if(checkData.length === 0){
          return layer.msg('请选择文件');
        }
		
		if(checkData.length > 0){
			for (var i in checkData){
				id.push(checkData[i].id);
			}
		}
      
        layer.confirm('确定删除这些文件吗？', function(index) {
          $.ajax({
          			type:'POST',
          			url:'/deletecollectionmaterial',
          			traditional: true,
          			data:{id:id},
          			dataType:'json',
					async: false,
          			success:function(res){
          							if(res.code==0){       
          			                        layer.msg('删除文件成功!');
          			                } else {          
          			                   
          													layer.msg('删除文件失败!');
          											
          			                }
          			},             
          			 error:function(data){
          									
          											layer.msg('删除文件的过程中出现错误!');
          								 
          			  },       
          		});
          table.reload('demo');
          layer.msg('已成功删除!');
        });
      },
      add: function(){
        layer.open({
          type: 2
          ,title: '支撑材料'
          ,content: 'caller_new.html'
          ,maxmin: true
          ,area: ['500px', '400px']
          ,btn: ['确认', '取消']
          ,yes: function(index, layero){
            //点击确认触发 iframe 内容中的按钮提交
            var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
            submit.click();
          },
		  success: function(layero, index) {
      			var pf_id = layero.find('iframe').contents().find("#form_performance_id");
      			$(pf_id).val($('#form_performance_id').val());
      			layer.setTop(layero); //重点2
      		}
        }); 
      }
    }; 
    

    $('.layui-btn.layuiadmin-btn-list').on('click', function(){
      var type = $(this).data('type');
      active[type] ? active[type].call(this) : '';
    });

  });
   

    layui.use('upload', function(){
  	  var $ = layui.jquery
  	  ,upload = layui.upload;
  	  var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  

  	  //指定允许上传的文件类型
  	  upload.render({
  	      elem: '#upload'
  	      ,url: projectBase + '/collectionMaterial/uploadCollectionmaterial'
  	      ,accept: 'file' //普通文件 
  	      ,before: function(obj){ 
  	    	layer.load(); //上传loading
  	    	this.data={"upload_id":$('#upload_id').val()};
  	    	}
  	      ,done: function(res){
  	    	  if(res.code == 0){
	  	    	  layer.closeAll();
	  	    	  layer.msg('上传成功');
  	    	  }else{
  	    		layer.closeAll();
  	    		 layer.msg('上传失败');
  	    	  }
  	    	  layui.table.reload('demo'); //重载表格
  	      } ,error:function(data){ 
  	    	  layer.closeAll();
  	    	  parent.layer.msg('上传失败');
  	      },
  	    
  	    });  
  	 
    });
   
   function updateTime(v){
		var date = new Date(v);
	    var y = date.getFullYear();
	    var m = date.getMonth()+1;
	    m = m<10?'0'+m:m;
	    var d = date.getDate();
	    d = d<10?("0"+d):d;
	    var h = date.getHours();
	    h = h<10?("0"+h):h;
	    var M = date.getMinutes();
	    M = M<10?("0"+M):M;
	    var str = y+"-"+m+"-"+d+" "+h+":"+M;
	    return str;
   }
  
  </script>
</body>
</html>
