<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>选择院校</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
</head>
<style>
#schoolChose li{
text-align: left;
}
</style>
<body>
  <div align="center" class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
	<div class="layui-form-item layui-hide">
	   <input type="hidden" id="choseId" name="choseId"/>
	   <input type="hidden" id="schools" name="schools"/>
	  <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
	  <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
	</div>
  </div>
  
  <div id="schoolChose" class="demo-transfer" align="center">
	  
  </div> 

  <script src="../../layuiadmin/layui/layui.js"></script>
  <script src="../util/Constants.js"></script>
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' ,//主入口模块
	//autocomplete: 'autocomplete'
  }).use(['index', 'form', 'admin', 'transfer', 'util',], function(){
    var $ = layui.$
    ,form = layui.form
	,admin = layui.admin
	,transfer = layui.transfer
	,util = layui.util;
	var projectBase = Class.getURL();
	var data0, data1;
	var majors=[];
	var major=[];
	
	form.render();
	
  $.ajax({
  	url: projectBase + '/dictionary/choseSchool',
  	dataType: 'json',
  	type: 'GET',
	async: false,
  	success: function(res){
  		//data0 = JSON.parse(res.data);
		data0 = res.data;
  	} 
  });
	
	var chosed_schools = JSON.parse($('#schools').val());
	console.log("json:" + chosed_schools);
	
	var temp = [];
	for(i=0; i<chosed_schools.length; i++){
		temp.push(chosed_schools[i].id);
	}
	
    transfer.render({
      elem: '#schoolChose',
	  data: data0,
	  value: temp,
	  width: 270
      ,title: ['备选院校列表', '已选院校列表']
      ,align: ['left','left']
      ,showSearch: true,
	  id: 'keyChosen'
    });
	
	form.on('submit(layuiadmin-app-form-submit)', function(data){
	  var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  
	  var ids=[], data;
	  
	  var chosen = transfer.getData('keyChosen');
	  
	  var strChosen="[";
	  for(i=0; i<chosen.length; i++){
		  strChosen = strChosen + "{\"id\":\"" + chosen[i].value + "\",";
		  var str = chosen[i].title.split("--");
		  strChosen = strChosen + "\"school_code\":\"" + str[0] + "\",\"school_name\":\"" + str[1] + "\"}";
		  if(i != chosen.length-1) strChosen = strChosen + ",";
	  }
	  strChosen = strChosen + "]";
	  
	  $('#choseId').val(strChosen);
	  
	  //get default school chosed majors:
	  for(i=0; i<chosen.length; i++){
		  var chose_school_id = chosen[i].value;
		  
		  $.ajax({
		  	url: projectBase + '/dictionary/chosenMajorInfo',
		  	dataType: 'json',
		  	data: {
		  		"school_id": chose_school_id
		  	},
		  	type: 'GET',
		  	async: false,
		  	success: function(res) {
		  		//data0 = JSON.parse(res.data);
		  		data0 = res.data;
		  	}
		  });
		  
		  /*for(i=0; i<data0.length; i++){
		  		  major={};
		  		  var m={};
		  		  m.key='id';
		  		  m.value=data0[i].id;
		  		  //console.log(chosen[i].value);
		  		  major=m;
		  		  var m1={};
		  		  m1.key='major_code';
		  		  m1.value=data0[i].major_code;
		  		  major=m1;
		  		  var m2={};
		  		  m2.key='major_name';
		  		  m2.value=data0[i].major_name;
		  		  //major.push(m2);
				  major=m2;
		  		  majors.push(major);
		  }*/
		  
		  layui.data('choseMajor',{
		    key: chose_school_id,
		  		value: data0,
		  });
	  }
	  
	  parent.layer.close(index);
	});
  });
 </script>
</body>
</html>