<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>编辑填报任务</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
	</head>
	<body>

		<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="col_task_form">
					<div class="layui-form-item">
						<input type="hidden" name="task_id" id="task_id"/>
						<label class="layui-form-label" style="width: 120px;">专业填报任务名称</label>
						<div class="layui-input-inline" style="width: 500px;">
							<input type="text" name="name" id="name" placeholder="请输入填报任务名称" required lay-verify="required" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label" style="width: 120px;">填报任务所属年度</label>
							<div class="layui-input-inline">
								<select name="year" id="year">
									<option value="2018">2018</option>
									<option value="2019">2019</option>
									<option value="2020">2020</option>
									<option value="2021">2021</option>
									<option value="2022">2022</option>
									<option value="2023">2023</option>
									<option value="2024">2024</option>
								</select>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">开始日期</label>
							<div class="layui-input-inline" style="width: 180px;">
								<input type="text" name="date" id="startDate" required lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off"
								 class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">结束日期</label>
							<div class="layui-input-inline">
								<input type="text" name="date" id="endDate" required lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
				</div>


				<div class="layui-card-body">
					<div class="layui-form layui-card-header layuiadmin-card-header-auto">
					<!--<table id="forms" lay-filter="forms" name="forms"></table>-->
					<div style="text-align: center;">
					<table class="layui-table" id="weightForm" style="table-layout:fixed; width:615px; text-align: center;">
					  <colgroup>
					    <col width="80" align="center">
					    <col width="350">
					    <col width="180">
					    <col>
					  </colgroup>
					  <thead>
					    <tr>
					      <th style="text-align: center;">编号</th>
					      <th style="text-align: center;">填报内容</th>
					      <th style="text-align: center;">权重</th>
					    </tr> 
					  </thead>
					  <tbody>
					    <tr>
					      <td>1</td>
					      <td>专业基本情况</td>
					      <td><input type="number" name="weighting1" required lay-verify="required" id="weighting1" style="width:150px"></td>
					    </tr>
					    <tr>
					      <td>2</td>
					      <td>绩效目标完成情况</td>
					      <td><input type="number" name="weighting2" required lay-verify="required" id="weighting2" style="width:150px"></td>
					    </tr>
					    <tr>
					      <td>3</td>
					      <td>资金支出进度</td>
					      <td><input type="number" name="weighting3" required lay-verify="required" id="weighting3" style="width:150px"></td>
					    </tr>
					   </tbody>
					  </table>
					</div> 
					<script type="text/html" id="weight">
						<!-- 这里的 checked 的状态只是演示 -->
							<input type="number" name="weighting" id="weighting" style="width:150px">
					</script>
					</div>
				</div>
				<div class="layui-card-body">
					<div style="padding-bottom: 10px;">
						<button class="layui-btn layuiadmin-btn-list" data-type="add"><i class="layui-icon layui-icon-add-1"></i> 添加</button>
						<!--<button class="layui-btn layuiadmin-btn-list layui-btn-danger" data-type="batchdel"><i class="layui-icon layui-icon-delete"></i> 移除</button>-->
					</div>
					<table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
					<script type="text/html" id="table-content-list">
						<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-set"></i></a>
					</script>
					<table id="major-list" lay-filter="major-list"></table>
				</div>
				<div class="layui-card-body">
					<div style="padding-bottom: 10px;">
						<div align="center">
							<button class="layui-btn layui-btn-normal" lay-submit lay-filter="col_task_form" id="form-submit"><i class="layui-icon layui-icon-file-b"></i> 保存</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../layuiadmin/layui/layui.js"></script>
		<script src="../util/Constants.js"></script>
		<script>
			layui.config({
				base: '../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'contlist', 'table', 'laydate', 'form', 'transfer'], function() {
				var $ = layui.$,
					table = layui.table,
					form = layui.form,
					laydate = layui.laydate,
					transfer = layui.transfer,
					projectBase = Class.getURL();
				var data0, schoolTable;
				
				var data = layui.data('editTask');
				//console.log(data['taskInfo']);
				var data0 = data['taskInfo'];
				$('#task_id').val(data0.id);
				$('#name').val(data0.task_name);
				var select = 'dd[lay-value=' + data0.task_year + ']';   
				$('#year').siblings("div.layui-form-select").find('dl').find(select).click();
				 $('#startDate').val(data0.start_time);
				 $('#endDate').val(data0.end_time);
				 $('#weighting1').val(data0.form_basic_weight);
				 $('#weighting2').val(data0.form_performance_weight);
				 $('#weighting3').val(data0.form_capitalprogress_weight);
				
				laydate.render({
					elem: '#startDate'
				});

				laydate.render({
					elem: '#endDate'
				});

				form.render();

				layui.data('editTask',null);

				/*var itemTable = table.render({
					elem: '#forms',
					width: 615,
					data: [{
							"col_content": "专业基本情况"
						}, {
							"col_content": "绩效目标完成情况"
						}, {
							"col_content": "资金支出进度"
						}]
						//toolbar:'#toolbarDemo'
						, 
					page: false //开启分页
						,
					cols: [
						[ //表头
							{
								type: 'numbers',
								title: '编号',
								align: 'center',
								width: 80
							}, {
								field: 'col_content',
								title: '填报内容',
								width: 350,
								align: 'center'
							}, {
								field: 'weight',
								title: '权重',
								width: 180,
								templet: '#weight',
								align: 'center'
							}
						]
					]
				});*/

				schoolTable = table.render({
					elem: '#LAY-app-content-list',
					width: 680,
					height: 320,
					url: projectBase + "/collection/chosenSchool?task_id=" + data0.id,
					page: true //开启分页
						,
					cols: [
						[ //表头
							{
								type: 'checkbox'
							}, {
								field: 'school_code',
								title: '院校代码',
								align: 'center',
								width: 160
							}, {
								field: 'school_name',
								title: '院校名称',
								align: 'center',
								width: 350
							}, {
								title: '操作',
								toolbar: '#table-content-list',
								align: 'center',
								width: 120
							}
						]
					]
				});

				table.render({
					elem: '#major-list',
					width: 680,
					height: 320,
					data: []
						//toolbar:'#toolbarDemo'
						,
					page: true //开启分页
						,
					cols: [
						[ //表头
							{
								field: 'major_code',
								title: '专业代码',
								align: 'center',
								width: 230
							}, {
								field: 'major_name',
								title: '专业名称',
								align: 'center',
								width: 450
							}
						]
					]
				});

				//监听搜索
				form.on('submit(col_task_form)', function(data) {
					//var field = data.field;
					//alert("executed!");
					
					//title:
					//console.log($('#name').val());
					//console.log($('#year').val());
					//console.log(test);
					//console.log($('#endDate').val());
					//console.log($('#weighting'));
					var choseM = layui.data('choseMajor');
					//console.log(choseM);
					//console.log(itemTable.config.data);
					
					var task={};
					var test1 = $('#startDate').val();
					var test2 = $('#endDate').val();
					
					var total = parseInt($('#weighting1').val()) + parseInt($('#weighting2').val()) + parseInt($('#weighting3').val());
					console.log(total);
					if( total != 100){
						layer.msg('权重相加不等于100!', function(){
						  //layer.msg('权重相加不等于100!');
						});
						return false;
					}
					
					task={
						'task_id':$('#task_id').val(),
						'name':$('#name').val(),
						'year':$('#year').val(),
						'startDate':test1,
						'endDate':test2,
						'weighting1': $('#weighting1').val(),
						'weighting2': $('#weighting2').val(),
						 'weighting3': $('#weighting3').val(), 
						'schoolChose':JSON.stringify(schoolTable.config.data),
						'majorChose':JSON.stringify(choseM)
						};

					
					$.ajax({
						url: projectBase + '/collection/editTask',
						dataType: 'json',
						data: task,
						type: 'POST',
						async: false,
						success: function(res){
							//data0 = JSON.parse(res.data);
							/*if(res.code==1){*/
								layer.msg("填报任务修改成功!");
								setTimeout(function(){
									//console.log(parent.layui.admin.events);
									//parent.index.refreshAndCloseTabs();
									parent.layui.admin.events.refresh();
									parent.layui.admin.events.closeThisTabs();
									},1200);
							/*} else {
								layer.msg('创建填报任务时出错!',function(){ 
									
								});
							}*/
						} 
					});
					
					
				});

				//监听行单击事件（单击事件为：rowDouble）
				table.on('row(LAY-app-content-list)', function(obj) {
					var data = obj.data;

					/*layer.alert(JSON.stringify(data), {
					  title: '当前行数据：'
					});*/
 
					/*$.ajax({
						url: projectBase + '/dictionary/chosenMajorInfo',
						dataType: 'json',
						data: {
							"school_id": data.id
						},
						type: 'GET',
						async: false,
						success: function(res) {
							//data0 = JSON.parse(res.data);
							data0 = res.data;
						}
					});*/
					
					table.render({
						elem: '#major-list',
						width: 680,
						height: 320,
						url: projectBase + "/collection/chosenMajor?collection_school_id=" + data.collection_school_id,
							//toolbar:'#toolbarDemo'
						page: true //开启分页
							,
						cols: [
							[ //表头
								{
									field: 'major_code',
									title: '专业代码',
									align: 'center',
									width: 230
								}, {
									field: 'major_name',
									title: '专业名称',
									align: 'center',
									width: 450
								}
							]
						]
					});

					//标注选中样式
					//obj.tr.addClass('layui-table-click').siblings().removeClass('layui-table-click');
				});

				table.on('tool(LAY-app-content-list)', function(obj) {
					var data = obj.data;
					if (obj.event == 'edit') {
						console.log("entering edit");
						layer.open({
							type: 2 //此处以iframe举例
								,
							title: '选择专业',
							area: ['70%', '80%'],
							//shade: 0,
							maxmin: true,
							/* offset: [ //为了演示，随机坐标
								$(window).height() - 520, $(window).width() - 1000
							], */
							btn: ['确认', '取消'],
							yes: function(index, layero) {
								//点击确认触发 iframe 内容中的按钮提交
								var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
								submit.click();

								table.render({
									elem: '#major-list',
									width: 680,
									height: 320,
									url: projectBase + "/collection/chosenMajor?collection_school_id=" + data.collection_school_id,
									page: true //开启分页
										,
									cols: [
										[ //表头
											{
												field: 'major_code',
												title: '专业代码',
												align: 'center',
												width: 230
											}, {
												field: 'major_name',
												title: '专业名称',
												align: 'center',
												width: 450
											}
										]
									]
								});
							},
							content: 'choose_major_edit.html',
							zIndex: layer.zIndex //重点1
								,
							success: function(layero, index) {
								console.log("entering open page");
								var school_id = layero.find('iframe').contents().find("#school_id");
								$(school_id).val(data.collection_school_id);
								layer.setTop(layero); //重点2
							}
						});

					}
				});

				var $ = layui.$,
					active = {
						batchdel: function() {
							var checkStatus = table.checkStatus('LAY-app-content-list'),
								checkData = checkStatus.data; //得到选中的数据

							if (checkData.length === 0) {
								return layer.msg('请选择数据');
							}

							layer.confirm('确定删除吗？', function(index) {

								//执行 Ajax 后重载
								/*
								admin.req({
								  url: 'xxx'
								  //,……
								});
								*/
								table.reload('LAY-app-content-list');
								layer.msg('已删除');
							});
						},
						add: function() {
							layer.open({
								type: 2 //此处以iframe举例
									,
								title: '选择院校',
								area: ['70%', '80%'],
								//shade: 0,
								maxmin: true,
								/* offset: [ //为了演示，随机坐标
									$(window).height() - 520, $(window).width() - 1000
								], */
								btn: ['确认', '取消'],
								yes: function(index, layero) {
									//点击确认触发 iframe 内容中的按钮提交
									var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
									submit.click();
									//var choseSchool = layero.find('iframe').contents().find('#choseId');
									//var data0 = JSON.parse(choseSchool.val());
									table.reload('LAY-app-content-list');
									parent.layer.close(index);
								},
								content: 'choose_school_edit.html',
								zIndex: layer.zIndex //重点1
									,
								success: function(layero, index) {
									var submit = layero.find('iframe').contents().find("#task_id");
									$(submit).val($('#task_id').val());
									layer.setTop(layero); //重点2
								} 
							});
						}
					};

				$('.layui-btn.layuiadmin-btn-list').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});

			});
		</script>
	</body>
</html>
