<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>数据填报模板定义 - 绩效目标完成情况</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
	</head>
	<body>

		<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="col_task_form" id="col_task_form">
	
					<!--<div class="layui-form-item">
					<div style="padding-right: 150px;">
						<div align="right">
							<button class="layui-btn layui-btn-normal" lay-submit lay-filter="col_task_form" id="form-submit"><i class="layui-icon layui-icon-file-b"></i> 创建</button>
						</div>
					</div>
					</div>-->
				</div>

				<div class="layui-card-body">
					<div style="padding-bottom: 10px;">
						<button class="layui-btn layuiadmin-btn-list" data-type="add"><i class="layui-icon layui-icon-add-1"></i> 新建指标</button>
						<!--<button class="layui-btn layuiadmin-btn-list layui-btn-danger" data-type="batchdel"><i class="layui-icon layui-icon-delete"></i> 移除</button>-->
					</div>
					<table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
					<script type="text/html" id="test-table-toolbar-barDemo">
					  <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
					  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
					</script>
				</div>
				<div class="layui-card-body">
					
				</div>
			</div>
		</div>

		<script src="../../layuiadmin/layui/layui.js"></script>
		<script src="../util/Constants.js"></script>
		<script>
			layui.config({
				base: '../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'contlist', 'table', 'laydate', 'form', 'transfer', 'admin'], function() {
				var table = layui.table,
					form = layui.form,
					laydate = layui.laydate,
					transfer = layui.transfer,
					admin = layui.admin,
					projectBase = Class.getURL();
				var data0, schoolTable;
				

				laydate.render({
					elem: '#startDate'
				});

				laydate.render({
					elem: '#endDate'
				});

				form.render();

				layui.data('choseMajor', null);

				table.render({
					elem: '#LAY-app-content-list',
					url: projectBase + '/collection/getMetrics',
					page: true, //开启分页
					height: 500	,
					cols: [
						[ //表头
							{
								field: 'pid',
								title: '一级指标编号',
								align: 'center' 
							}, {
								field: 'level1_name',
								title: '一级指标',
								align: 'center' 
							},{
								field: 'metrics_code',
								title: '二级指标编号',
								align: 'center' 
							}, {
								field: 'metrics_name',
								title: '二级指标',
								align: 'center',
								width: 250
							}, {
								field: 'unit',
								title: '单位',
								align: 'center',
								width: 60
							}, {
								field: '',
								title: '立项时数值',
								align: 'center',
								width: 80
							},  {
								field: '',
								title: '2018年目标值',
								align: 'center',
								width: 80
							},  {
								field: '',
								title: '实际完成值',
								align: 'center',
								width: 120
							},  {
								field: '',
								title: '分值',
								align: 'center',
								width: 80
							},   {
								field: '',
								title: '自评分',
								align: 'center',
								width: 80
							},  {
								field: '',
								title: '自评说明',
								align: 'center',
								width: 100
							},  {
								field: 'material_num',
								title: '支撑材料',
								align: 'center',
								width: 140
							},  {
								title: '操作',
								fixed: 'right',
								toolbar: '#test-table-toolbar-barDemo',
								align: 'center',
								width: 160
							}
						]
					],
					done:function(res) {
										alarmTableRowSpan('pid',1);
										alarmTableRowSpan('level1_name',1);
										//merge(res);
					}
				});

				
				function layuiRowspan(fieldName,index){
									// 左侧列为冻结的情况
									var tbodyNode = document.getElementsByClassName("layui-table-fixed-l")[index-1];
									var child = tbodyNode.getElementsByTagName("td");
									var childFilterArr = [];
									// 获取data-field属性为fieldName的td
									for(var i = 0; i < child.length; i++){
										if(child[i].getAttribute("data-field") == fieldName){
											childFilterArr.push(child[i]);
										}
									}
									// 获取td的个数和种类
									var childFilterTextObj = {};
									for(var i = 0; i < childFilterArr.length; i++){
										var childText = childFilterArr[i].textContent;
										if(childFilterTextObj[childText] == undefined){
											childFilterTextObj[childText] = 1;
										}else{
											var num = childFilterTextObj[childText];
											childFilterTextObj[childText] = num*1 + 1;
										}
									}
									// 给获取到的td设置合并单元格属性
									for(var key in childFilterTextObj){
										var tdNum = childFilterTextObj[key];
										var canRowspan = true;
										for(var i = 0; i < childFilterArr.length; i++){
											if(childFilterArr[i].getAttribute("data-content") == key){
												if(canRowspan){
													childFilterArr[i].setAttribute("rowspan",tdNum);
													canRowspan = false;
												}else{
													childFilterArr[i].style.display = "none";
												}
											}
										}
									}
								}
								/**
								 * name layui合并tbody中单元格的方法
								 * @param fieldName  要合并列的field属性值
								 * @param index 表格的索引值 从1开始
								 * @desc 此方式适用于没有列冻结的单元格合并
								 */
								function alarmTableRowSpan(fieldName, index) {
									var fixedNode = document.getElementsByClassName("layui-table-body")[index - 1];
									if (!fixedNode) {
										return false;
									}
									var child = fixedNode.getElementsByTagName("td");
									var childFilterArr = [];
									// 获取data-field属性为fieldName的td
									for (var i = 0; i < child.length; i++) {
										if (child[i].getAttribute("data-field") == fieldName) {
											childFilterArr.push(child[i]);
										}
									}
									// 获取td的个数和种类
									var childFilterTextObj = {};
									for (var i = 0; i < childFilterArr.length; i++) {
										var childText = childFilterArr[i].textContent;
										if (childFilterTextObj[childText] == undefined) {
											childFilterTextObj[childText] = 1;
										} else {
											var num = childFilterTextObj[childText];
											childFilterTextObj[childText] = num * 1 + 1;
										}
									}
									// 给获取到的td设置合并单元格属性
									for (var key in childFilterTextObj) {
										var tdNum = childFilterTextObj[key];
										var canRowSpan = true;
										for (var i = 0; i < childFilterArr.length; i++) {
											if (childFilterArr[i].textContent == key) {
												if (canRowSpan) {
													childFilterArr[i].setAttribute("rowspan", tdNum);
													canRowSpan = false;
												} else {
													childFilterArr[i].style.display = "none";
												}
											}
										}
									}
								}
				
				table.on('tool(LAY-app-content-list)', function(obj) {
					var data = obj.data;
					if (obj.event === 'edit') {
						layer.open({
							type: 2 //此处以iframe举例
								,
							title: '选择专业',
							area: ['50%', '70%'],
							//shade: 0,
							maxmin: true,
							/*offset: [ //为了演示，随机坐标
								$(window).height() - 520, $(window).width() - 1000
							],*/
							btn: ['确认', '取消'],
							yes: function(index, layero) {
								//点击确认触发 iframe 内容中的按钮提交
								var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
								submit.click();
								var choseMajor = layero.find('iframe').contents().find('#choseId');
								var data0 = JSON.parse(choseMajor.val());
						
								//alert(layui.data('choseMajor'));
								var choseM = layui.data('choseMajor');
								console.log(data.id);
								console.log(choseM);
								
								//layui.data('choseMajor', null);
								//var cate = layui.data('cate');
								//console.log(cate.data)
								//test1 = choseM.value;
								//alert(test1.key);

								table.render({ 
									elem: '#major-list',
									width: 680,
									height: 320,
									data: choseM[data.id]
										//toolbar:'#toolbarDemo'
										,
									page: true //开启分页
										,
									cols: [
										[ //表头
											{
												field: 'major_code',
												title: '专业代码',
												align: 'center',
												width: 230
											}, {
												field: 'major_name',
												title: '专业名称',
												align: 'center',
												width: 450
											}
										]
									]
								});
							},
							content: 'choose_major.html',
							zIndex: layer.zIndex //重点1
								,
							success: function(layero, index) {
								var school_id = layero.find('iframe').contents().find("#school_id");
								$(school_id).val(data.id);
								layer.setTop(layero); //重点2
							}
						});

					}
				});
				
				table.on('tool(LAY-app-content-list)', function(obj) {
					var data = obj.data;
					if (obj.event === 'del') {
						layer.confirm('确定删除吗？', function(index) {
						
							$.ajax({
								url: projectBase + '/collection/deleteMetrics',
								dataType: 'json',
								data: {
									'id':data.id,
									},
								type: 'POST',
								success: function(res){
									if(res.code==1){
										layer.msg("指标删除成功!");
										obj.del();
									} else {
										layer.msg("指标删除失败!", function(){
											});
									}
								} 
							});
						
						});
							
					} else if (obj.event == 'edit') {
						layer.open({
							type: 2 //此处以iframe举例
								,
							title: '修改指标定义',
							area: ['50%', '70%'],
							//shade: 0,
							maxmin: true,
							btn: ['确认', '取消'],
							yes: function(index, layero) {
								//点击确认触发 iframe 内容中的按钮提交
								var submit = layero.find('iframe').contents().find("#metrics_form");
								submit.click();
								
								table.reload('LAY-app-content-list');
							},
							content: 'edit_metrics.html',
							zIndex: layer.zIndex //重点1
								,
							success: function(layero, index) {
								console.log(data.id);
								var contents = layero.find('iframe').contents();
								var level = contents.find('#level');
								var select = 'dd[lay-value=' + data.level + ']';
								$(level).siblings("div.layui-form-select").find('dl').find(select).click();  
								var metrics_code = contents.find('#metrics_code');
								$(metrics_code).val(data.metrics_code);
								var unit = contents.find('#unit');
								$(unit).val(data.unit);
								var name = contents.find('#name');
								$(name).val(data.metrics_name);
								var memo = contents.find('#memo');
								$(memo).val(data.description);
								var id = contents.find('#id');
								$(id).val(data.id);
								
								layer.setTop(layero); //重点2
							} 
						});
					}
				});

				var $ = layui.$,
					active = {
						batchdel: function() {
							var checkStatus = table.checkStatus('LAY-app-content-list'),
								checkData = checkStatus.data; //得到选中的数据

							if (checkData.length === 0) {
								return layer.msg('请选择数据');
							}

							layer.confirm('确定删除吗？', function(index) {

								//执行 Ajax 后重载
								/*
								admin.req({
								  url: 'xxx'
								  //,……
								});
								*/
								table.reload('LAY-app-content-list');
								layer.msg('已删除');
							});
						},
						add: function() {
							layer.open({
								type: 2 //此处以iframe举例
									,
								title: '指标定义',
								area: ['800px', '90%'],
								//shade: 0,
								maxmin: true,
							 
								btn: ['确认', '取消'],
								yes: function(index, layero) {
									//点击确认触发 iframe 内容中的按钮提交
									var submit = layero.find('iframe').contents().find("#metrics_form");
									submit.click();
									
									table.reload('LAY-app-content-list');
								},
								content: 'new_metrics.html',
								zIndex: layer.zIndex //重点1
									,
								success: function(layero, index) {
									layer.setTop(layero); //重点2
								} 
							});
						}
					};

				$('.layui-btn.layuiadmin-btn-list').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});

			});
		</script>
	</body>
</html>
