<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>绩效目标完成情况</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
		<link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
	</head>
	<body>

		<div class="layui-fluid">
			<div class="layui-card">
				<div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="col_task_form" id="col_task_form">
	
					<div  style="font-size:1em;margin:15px 0 0px 15px;">
								  <input type="hidden" id="collection_major_id" name="collection_major_id"/>
						     	  <div style="float: left;">填报任务：<input type="text" id="task_name" style="border:0;background-color: none;"   readonly="readonly" value=""/></div>
						     	  <div style="float: left;">填报任务所属年度：<input type="text" id="task_year" style="border:0;background-color: none;"  readonly="readonly" value=""/></div>
						     	  <div style="float: left;">院校：<input type="text" id="school" style="border:0;background-color: none;"  readonly="readonly" value=""/></div>
						     	  <div style="float: left;">专业：<input type="text" id="major" style="border:0;background-color: none;"  readonly="readonly" value=""/></div>
						     	  <br/>
					</div>
				</div>

				<div class="layui-card-body">
					<div style="padding-bottom: 10px;">
						<button class="layui-btn layuiadmin-btn-list layui-btn-checked" data-type="edit" ><i class="layui-icon layui-icon-senior"></i> 校验并完成填报</button>
						<!--<button class="layui-btn layuiadmin-btn-list layui-btn-danger" data-type="batchdel"><i class="layui-icon layui-icon-delete"></i> 移除</button>-->
					</div>
					<table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
					<script type="text/html" id="test-table-toolbar-barDemo">
					  <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
					</script>
				</div> 
				<div class="layui-card-body">
					
				</div>
			</div>
		</div>

		<script src="../../layuiadmin/layui/layui.js"></script>
		<script src="../util/Constants.js"></script>
		<script>
			layui.config({
				base: '../../layuiadmin/' //静态资源所在路径
			}).extend({
				index: 'lib/index' //主入口模块
			}).use(['index', 'contlist', 'table', 'laydate', 'form', 'transfer', 'admin'], function() {
				var table = layui.table,
					form = layui.form,
					laydate = layui.laydate,
					transfer = layui.transfer,
					admin = layui.admin,
					projectBase = Class.getURL(),
					$ = layui.$;
				var data0, schoolTable;
				

				laydate.render({
					elem: '#startDate'
				});

				laydate.render({
					elem: '#endDate'
				});

				form.render();
				
				var data = layui.data('collection');
				console.log("data:" + data['collection_major_id']);
				
				var data0 = layui.data('info');
				$('#task_name').val(data0['basic_info']['task_name']);
				$('#task_year').val(data0['basic_info']['task_year']);
				$('#school').val(data0['basic_info']['school']);
				$('#major').val(data0['basic_info']['major']);

				table.render({
					elem: '#LAY-app-content-list',
					url: projectBase + '/collection/getPerformanceForm',
					where: {
						'collection_major_id':data['collection_major_id']
					},
					page: true, //开启分页
					height: 500	, 
					cols: [
						[ //表头
							{
								field: 'level1_name',
								title: '一级指标',
								align: 'center',
								width: 160
							},{
								field: 'metrics_name',
								title: '二级指标',
								align: 'center',
								width: 300
							}, {
								field: 'unit',
								title: '单位',
								align: 'center',
								width: 60
							}, {
								field: 'current_value',
								title: '当前值',
								templet: function(d){ if(d.current_value==0)return "";
													  else return d.current_value;},
								align: 'center',
								width: 80
							},  {
								field: 'target_value',
								title: '目标值',
								templet: function(d){ if(d.target_value==0)return "";
													  else return d.target_value;},
								align: 'center',
								width: 80
							},  {
								field: 'actual_value',
								title: '实际完成值',
								align: 'center',
								templet: function(d){ if(d.actual_value==0)return "";
													  else return d.actual_value;},
								width: 120
							},  {
								field: 'score',
								title: '分值',
								align: 'center',
								templet: function(d){ if(d.score==0)return "";
													  else return d.score;},
								width: 80
							},  {
								field: 'self_evaluate',
								title: '自评分',
								align: 'center',
								templet: function(d){ if(d.self_evaluate==0)return "";
													  else return d.self_evaluate;},
								width: 80
							},  {
								field: 'self_introduction',
								title: '自评说明',
								align: 'center',
								templet: function(d){ 
									var data = d.self_introduction;
									console.log("data:" + data);
									if(data == null) return "共0字";
									console.log(data.length);
									var str = "共"+ data.length +"字";
									return str},
								width: 100
							},  {
								field: 'material_num',
								title: '支撑材料',
								align: 'center', 
								width: 140
							}, {
								title: '操作',
								fixed: 'right',
								toolbar: '#test-table-toolbar-barDemo',
								align: 'center',
								width: 160
							}
						]
					]
				});

				
				table.on('tool(LAY-app-content-list)', function(obj) {
					var data = obj.data;
					if (obj.event === 'edit') {
						layer.open({
							type: 2 //此处以iframe举例
								,
							title: '填报详细',
							area: ['70%', '80%'],
							//shade: 0,
							maxmin: true,
							btn: ['保存', '取消'],
							yes: function(index, layero) {
								//点击确认触发 iframe 内容中的按钮提交
								var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
								submit.click();
								var choseMajor = layero.find('iframe').contents().find('#choseId');
								var data0 = JSON.parse(choseMajor.val());
						
								//alert(layui.data('choseMajor'));
								var choseM = layui.data('choseMajor');
								console.log(data.id);
								console.log(choseM);
								
								//layui.data('choseMajor', null);
								//var cate = layui.data('cate');
								//console.log(cate.data)
								//test1 = choseM.value;
								//alert(test1.key);

								table.render({ 
									elem: '#major-list',
									width: 680,
									height: 320,
									data: choseM[data.id]
										//toolbar:'#toolbarDemo'
										,
									page: true //开启分页
										,
									cols: [
										[ //表头
											{
												field: 'major_code',  
												title: '专业代码',
												align: 'center',
												width: 230
											}, {
												field: 'major_name',
												title: '专业名称',
												align: 'center',
												width: 450
											}
										]
									]
								});
							},
							content: 'edit_performance_item.html',
							zIndex: layer.zIndex //重点1
								,
							success: function(layero, index) {
								var metric_id = layero.find('iframe').contents().find("#metrics_id");
								$(metrics_id).val(data.id);
								var current_value = layero.find('iframe').contents().find("#current_value");
								console.log("set data");
								if(data.current_value!=0)
								$(current_value).val(data.current_value);
								var target_value = layero.find('iframe').contents().find("#target_value");
								if(data.target_value!=0)
								$(target_value).val(data.target_value);
								var actual_value = layero.find('iframe').contents().find("#actual_value");
								if(data.actual_value!=0)
								$(actual_value).val(data.actual_value);
								var score = layero.find('iframe').contents().find("#score");
								if(data.score!=0)
								$(score).val(data.score);
								var self_evaluate = layero.find('iframe').contents().find("#self_evaluate");
								if(data.self_evaluate!=0)
								$(self_evaluate).val(data.self_evluate);
								var self_introduction = layero.find('iframe').contents().find("#self_introduction");
								$(self_introduction).val(data.self_introduction);
								
								layer.setTop(layero); //重点2
							}
						});

					}
				});
				
				table.on('tool(LAY-app-content-list)', function(obj) {
					var data = obj.data;
					if (obj.event === 'del') {
						layer.confirm('确定删除吗？', function(index) {
						
							$.ajax({
								url: projectBase + '/collection/deleteMetrics',
								dataType: 'json',
								data: {
									'id':data.id,
									},
								type: 'POST',
								success: function(res){
									if(res.code==1){
										layer.msg("指标删除成功!");
										obj.del();
									} else {
										layer.msg("指标删除失败!", function(){
											});
									}
								} 
							});
						
						});
							
					} else if (obj.event == 'edit') {
						layer.open({
							type: 2 //此处以iframe举例
								,
							title: '填报详细',
							area: ['70%', '80%'],
							shade: 0,
							maxmin: true,
							btn: ['保存', '取消'],
							yes: function(index, layero) {
								//点击确认触发 iframe 内容中的按钮提交
								var submit = layero.find('iframe').contents().find("#edit_performance_form");
								submit.click();
								
								table.reload('LAY-app-content-list');
							},
							content: 'edit_performance_item.html',
							zIndex: layer.zIndex //重点1
								,
							success: function(layero, index) {
								//console.log(data.id);
								var metrics_id = layero.find('iframe').contents().find("#metrics_id");
								$(metrics_id).val("?metrics_id=" + data.metrics_id + "&form_performance_id=" + data.id );
								var performance_id = layero.find('iframe').contents().find("#performance_id");
								$(performance_id).val(data.id);
								
								var current_value = layero.find('iframe').contents().find("#current_value");
								console.log("set data");
								if(data.current_value!=0)
								$(current_value).val(data.current_value);
								var target_value = layero.find('iframe').contents().find("#target_value");
								if(data.target_value!=0)
								$(target_value).val(data.target_value);
								var actual_value = layero.find('iframe').contents().find("#actual_value");
								if(data.actual_value!=0)
								$(actual_value).val(data.actual_value);
								var score = layero.find('iframe').contents().find("#score");
								if(data.score!=0)
								$(score).val(data.score);
								var self_evaluate = layero.find('iframe').contents().find("#self_evaluate");
								if(data.self_evaluate!=0)
								$(self_evaluate).val(data.self_evluate);
								var self_introduction = layero.find('iframe').contents().find("#self_introduction");
								$(self_introduction).val(data.self_introduction);
								
								layer.setTop(layero); //重点2    
							}   
						});
					}
				});

				var $ = layui.$,
					active = {
						batchdel: function() {
							var checkStatus = table.checkStatus('LAY-app-content-list'),
								checkData = checkStatus.data; //得到选中的数据

							if (checkData.length === 0) {
								return layer.msg('请选择数据');
							}

							layer.confirm('确定删除吗？', function(index) {

								//执行 Ajax 后重载
								/*
								admin.req({
								  url: 'xxx'
								  //,……
								});
								*/
								table.reload('LAY-app-content-list');
								layer.msg('已删除');
							});
						},
						add: function() {
							layer.open({
								type: 2 //此处以iframe举例
									,
								title: '指标定义',
								area: ['50%', '70%'],
								//shade: 0,
								maxmin: true,
								/* offset: [ //为了演示，随机坐标
									$(window).height() - 1000, $(window).width() - 1300
								], */
								btn: ['新建', '取消'],
								yes: function(index, layero) {
									//点击确认触发 iframe 内容中的按钮提交
									var submit = layero.find('iframe').contents().find("#metrics_form");
									submit.click();
									
									table.reload('LAY-app-content-list');
								},
								content: 'new_metrics.html',
								zIndex: layer.zIndex //重点1
									,
								success: function(layero, index) {
									layer.setTop(layero); //重点2
								} 
							});
						}
					};

				$('.layui-btn.layuiadmin-btn-list').on('click', function() {
					var type = $(this).data('type');
					active[type] ? active[type].call(this) : '';
				});

			});
		</script>
	</body>
</html>
