<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>专业数据填报</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<style>
.noborder td{
 border:0;
text-align: left;
}
input{
width: 100%;
height: 100%;
border: 0;
}
input {
	background-color: white;
}
</style>
<body>

  <div class="layui-fluid">
    <div class="layui-card">

      <div class="layui-form">
     	    	
       		<div class="layui-card-body">  
       		<table   style="width:1200px;">
     	    	<tr class="noborder">
     	    		<td style="width:70px;">填报任务：</td><td style="width:200px;">
     	    			<input type="text" id="task_name"  readonly="readonly"/>  	    			 
     	    		</td>
     	    		<td style="width:120px;">填报任务所属年度：</td><td style="width:100px;"><input type="text" id="year"  readonly="readonly"/></td> 
     	    		<td style="width:40px;">院校：</td><td style="width:160px;"><input type="text" id="school_name"  readonly="readonly"/></td>
     	    		<td style="width:40px;">专业：</td><td style="width:160px;"><input type="text" id="major_name"  readonly="readonly"/></td>    	    		
     	    	</tr >     	    	 
     	    </table>
            <table id="template" class="layui-table" style="width:70%;"></table>
            <script type="text/html" id="test-table-toolbar-barDemo">
       			   <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></a>
       		</script>
			<table id="result" class="layui-table" style="width:70%;"></table>
	        </div>
    
        </div>      
      </div>
    </div>
  
  


  <script src="../../layuiadmin/layui/layui.js"></script> 
  <script src="../util/Constants.js"></script> 
  <script>
    
  var projectBase = Class.getURL();
  var userinfo = layui.data('userinfo');
  
  layui.config({
	    base: '../../layuiadmin/' //静态资源所在路径
	  }).extend({
	    index: 'lib/index' //主入口模块
	  }).use(['index', 'contlist','element', 'table', 'layer','admin','jquery'],function(){
		  var table = layui.table
		    ,form = layui.form
			,admin = layui.admin
		    ,$ = layui.jquery
		    ,layer = layui.layer,
			projectBase = Class.getURL();
		 
		  //头部信息
		  var data1 = layui.data('viewTask_top')['taskInfo'];
		  //表格信息
		  var data2 = layui.data('viewTask_bot')['taskInfo'];
		  
		  $("#task_id").val(data1.task_id);
		  $("#task_name").val(data1.task_name);
		  $("#year").val(data1.year);
		  $("#school_name").val(data2.school_name);
		  $("#major_name").val(data2.major_name);
			
		  table.render({
		  	elem: '#template',
		  	//height: 300,
		  	url: projectBase + '/userTask/majorCollectionStatus',
		  	where: {
		  		task_id: data2.task_id,
		  		school_id: data2.school_id,
		  		major_id: data2.major_id
		  	},
		  	//page: true, //开启分页
		  	cols: 
			[
		  		[ //表头
		  			{
		  				type: 'numbers',
		  				title: '序号',
		  				align: 'center',
		  				width: 60
		  			},
		  			{
		  				field: 'collection_template_name',
		  				title: '待审核内容',
		  				align: 'center',
		  				width: 200
		  			},
		  			{
		  				fixed: 'right',
		  				title: '操作',
		  				toolbar: '#collection_list_operation_toolbar',
		  				align: 'center',
		  				width: 100
		  			}
		  		]
			]
		  });
		  
		  table.on('tool(template)', function(obj) {
		  		var data = obj.data;
		  		console.log("id:" + data.collection_major_id);
		  		if (obj.event == 'set') {

		  			if (data.template_type_string == "major_performance") {
		  				console.log("to open performance page");
		  				parent.layui.index.openTabsPage("collection/performance_collection.html", "业绩完成情况填报");
		  			} else if (data.template_type_string == "major_capital_process") {
		  				console.log("to open capital page");
		  				parent.layui.index.openTabsPage("collection/capital_progress_collection.html", "资金支出进度填报");
		  			} else if (data.template_type_string == "major_basic_info") {
		  				console.log("entering basic info");
		  				parent.layui.index.openTabsPage("template/caller.html", "专业数据填报");
		  			}
		  		}
		  	});
		  
	  });
  
  </script>
</body>
</html>
