<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>修改用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
</head>
<body>

  <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
	  <div class="layui-form-item">
	      <input type="hidden" name="id">
	  </div>
    <div class="layui-form-item">
      <label class="layui-form-label">用户登陆名: </label>
      <div class="layui-input-inline">
        <input type="text" name="userName" disabled="disabled" required lay-verify="required" placeholder="必填项" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">密码: </label>
      <div class="layui-input-inline">
        <input type="text" name="password"     autocomplete="off" class="layui-input">
      </div>
    </div>
	<div class="layui-form-item">
	  <label class="layui-form-label">用户角色:</label>
	  <div class="layui-input-inline">
	    <input type="text" hidden="hidden" id="roleId_hidden"   >	   
        <select name="roleId" id="roleId"   lay-search="">
          <option value="">直接选择或搜索选择</option>
        </select>
    
	  </div>
	</div>
	<div class="layui-form-item">
	  <label class="layui-form-label">用户名:</label>
	  <div class="layui-input-inline">
	    <input type="text" name="chineseName" autocomplete="off" class="layui-input">
	  </div>
	</div>
	<div class="layui-form-item">
	  <label class="layui-form-label">职称:</label>
	  <div class="layui-input-inline">
	    <input type="text" name="position" autocomplete="off" class="layui-input">
	  </div>
	</div>
	<div class="layui-form-item">
	  <label class="layui-form-label">所在学校:</label>
	  <div class="layui-input-inline">
	    <input type="text" name="institution" autocomplete="off" class="layui-input">
	  </div>
	</div>
	<div class="layui-form-item">
	  <label class="layui-form-label">手机号码:</label>
	  <div class="layui-input-inline">
	    <input type="text" name=mobilePhone autocomplete="off" class="layui-input">
	  </div>
	</div>
	<div class="layui-form-item">
	  <label class="layui-form-label">邮箱:</label>
	  <div class="layui-input-inline">
	    <input type="text" name="email" autocomplete="off" class="layui-input">
	  </div>
	</div>
    <div class="layui-form-item">
      <label class="layui-form-label">备注：</label>
      <div class="layui-input-inline">
        <textarea name="memo" style="width: 400px; height: 150px;" autocomplete="off" class="layui-textarea"></textarea>
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">创建人：</label>
      <div class="layui-input-inline">
      <input type="text" name="creator" autocomplete="off" class="layui-input">
      </div>
    </div>
    
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认添加">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="确认编辑">
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'admin'], function(){
    var $ = layui.$
    ,form = layui.form
	,admin = layui.admin;
    
    $.ajax({
    	url: '/eduEvaluation/role/roles',
    	dataType: 'json',
    	type: 'get',
    	success: function (data) {
   		
    	var roleIds = data.data;
     
    	var value = $('#roleId_hidden').val();
    
    	$.each(roleIds, function (index, item) {
    		 var opt =  new Option(item.roleName, item.id);    		 		
    			$('#roleId').append(opt);// 下拉菜单里添加元素   		    			
    	});
    	layui.form.render("select");
    	var select = 'dd[lay-value=' + value + ']';  	
   		$('#roleId').siblings("div.layui-form-select").find('dl').find(select).click();  

    	}
    	});
    //监听提交
    form.on('submit(layuiadmin-app-form-submit)', function(data){
      var field = data.field; //获取提交的字段
      var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  

      //提交 Ajax 成功后，关闭当前弹层并重载表格
      //$.ajax({});
	  admin.req({
		  type: 'POST',
		  url: '/eduEvaluation/user/updateUsers',
	      data: field,
		  dataType:'json',
		  success:function(res){
		  				if(res.code==0){       
		                          parent.layer.msg('修改用户成功!', {time:3000});
		                  } else            
		                          parent.layer.msg(res.msg, function(){
			  								parent.layer.msg(res.msg, {time:3000});
								  });   
		                  },              
		   error:function (data) {
							layer.msg('修改用户的过程中出现错误!', function(){
								parent.layer.msg('修改用户的过程中出现错误!', {time:3000});
							});  
		    } 
	  });
	  
      parent.layui.table.reload('demo'); //重载表格
      parent.layer.close(index); //再执行关闭 
    });
   
  })
  </script>
</body>
</html>