<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>修改用户</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
</head>
<style>
.noborder td{
border:0;
text-align: right;
}
span{
color:red;
}
</style>
<body >

  <div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
	  <div class="layui-form-item">
	      <input hidden="hidden"  name="id" id="id">
	  </div>
	  
   <table class="layui-table">
   		<tr  class="noborder">
   			<td><span>*</span>用户账号:</td><td><input type="text" name="userName"   lay-verify="required|user_exp" placeholder="必填项" autocomplete="off" class="layui-input" readonly="readonly"></td>
   			<td>登录密码:</td><td> <input type="password" name="password"   lay-verify="pass_exp"   autocomplete="off" class="layui-input"></td>
   		</tr>
   		
   		<tr  class="noborder">  			
   			<td><span>*</span>用户角色:</td><td style="text-align: left;">
   							<input  hidden="hidden" id="roleId_hidden"/>
   							<select name="roleId" id="roleId" lay-search="" placeholder="必填项" lay-filter="roleId" lay-verify="required" >
									<option value=""></option>
							</select>
			</td>
			<td><span>*</span>用户姓名:</td><td><input type="text" name="chineseName"   lay-verify="required|chinese_exp" placeholder="必填项" autocomplete="off" class="layui-input"></td>			
		</tr>
   		
   		<tr  class="noborder">
   			<td>职称:</td><td><input type="text" name="position" " autocomplete="off" class="layui-input"></td>
   			<td><span id="isRed"  hidden="hidden">*</span>所属院校:</td><td style="text-align: left;"> 		   		
		   			<input  hidden="hidden" id="schoolId_hidden"/>
		   								<select name="schoolId" id="schoolId" lay-search=""  lay-filter="schoolId" >
											<option value="">直接选择或搜索选择</option>
										</select>
   			</td>
   		</tr>
   		
   		<tr  class="noborder">
   			<td>手机号码:</td><td><input type="text" name="mobilePhone"   lay-verify="phone_exp"   autocomplete="off" class="layui-input"></td>
   			<td>邮箱:</td><td> <input type="text" name="email"   lay-verify="email_exp"    autocomplete="off" class="layui-input"></td>
   		</tr>
   		<tr  class="noborder">  			
   			<td>备注:</td><td><textarea   name="memo"  lay-verify="lenth_exp" autocomplete="off" class="layui-input" style="width:100%;height: 100px;resize: none;"></textarea></td>
   		</tr>
   </table>
    <input  hidden="hidden" id="schoolName" >
    <div class="layui-form-item layui-hide">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-submit" id="layuiadmin-app-form-submit" value="确认">
      <input type="button" lay-submit lay-filter="layuiadmin-app-form-edit" id="layuiadmin-app-form-edit" value="取消">
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script>
  <script src="../util/Constants.js"></script>  
  <script>
  var projectBase = Class.getURL();
  var userinfo = layui.data('userinfo');
  
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'form', 'admin'], function(){
    var $ = layui.$
    ,form = layui.form
	,admin = layui.admin;
   
      var getschool=-1;
	  var getuser="";
	  var getrole=99;
	  var getschoolname=$("#schoolName").val();
	    $.ajax({
			url: projectBase + '/user/userSchool',
			data:{'token' : userinfo['token']},
			dataType:'json',				
			async: false,
			success:function(res){					
				getschool =  res.code;
				getuser = res.msg;
				getrole = res.count;
 
				}
			}); 
	  
    $.ajax({
    	url: projectBase + '/role/roles',
    	dataType: 'json',
    	type: 'get',
    	success: function (data) {
   		
    	var roleIds = data.data;    
    	var value = $('#roleId_hidden').val();
    
    	$.each(roleIds, function (index, item) {
    		 var opt =  new Option(item.roleName, item.id);
    		 if(item.id>getrole || value==item.id){
    			$('#roleId').append(opt);// 下拉菜单里添加元素  
    		 }
    	});
    	layui.form.render("select");
    	var select = 'dd[lay-value=' + value + ']';  	
   		$('#roleId').siblings("div.layui-form-select").find('dl').find(select).click();  

    	}
    	});
    
    $.ajax({
    	url: projectBase + '/dictionary/school',
    	dataType: 'json',
    	type: 'get',
    	success: function (data) {
    		
    	var schoolIds = data.data;
    	var value = $('#schoolId_hidden').val();
    	
    	$.each(schoolIds, function (index, item) {
   		 var opt =  new Option(item.school_name, item.id); 
   		   if(item.id == getschool || getrole ==1){
   			 $('#schoolId').append(opt);// 下拉菜单里添加元素  
    	   }
   		});
    	layui.form.render("select");
    	var select = 'dd[lay-value=' + value + ']';  	
   		$('#schoolId').siblings("div.layui-form-select").find('dl').find(select).click();  
    	//重新渲染 固定写法
    	}
    	});
    
   	
    //自定义校验
    form.verify({
    	    user_exp: function(value, item){ //value：表单的值、item：表单的DOM对象

    	    if(!(/^[a-zA-Z0-9_-]{4,9}$/.test(value))){
    	      return '用户名必须为4-9位字母,数字';
    	    }
    	   
    	  },

    	  //我们既支持上述函数式的方式，也支持下述数组的形式
    	  //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
    	  pass_exp:function(value, item){
    		  if(value !="" && value != null && !(/^[\S]{6,12}$/.test(value))){
    			  return "密码必须6到20位，且不能出现空格";
    	 		 }
    	  },chinese_exp :[
    		/^[\u4E00-\u9FA5\uf900-\ufa2d·s]{2,8}$/
    		, '姓名必须为2到20位中文汉字' 
    	  ],lenth_exp: function(value, item){ //value：表单的值、item：表单的DOM对象
    			if(value.length>201){				
    				return '备注文字长度必须小于200';
    			}	
      	   
      	  },phone_exp: function(value, item){
      		 if(value !="" && value!= null && !(/^1[3456789]\d{9}$/.test(value))){ 
      	        return "手机号码格式有误，请重填"; 
      	    } 
      	  },email_exp: function(value, item){
      		 if(value !="" && value!= null && !(/^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/.test(value))){ 
       	        return "邮箱格式有误，请重填"; 
       	    } 
      	  }
    	  
    	});  
 	
   	//监听选择角色框事件
     form.on('select(roleId)', function(data){
    	if($("#roleId_hidden").val() == getrole){
    	 
  			 $("#roleId").attr("disabled",true);  			
  		}
    	 
 	   	if($("#roleId").val() == 2 || $("#roleId").val() == 3){
 	   		$("#isRed").attr("hidden",false); 
 	   		$("#schoolId").attr("lay-verify","required");
 	   	}else{
 	   		$("#isRed").attr("hidden",true);
 	   		$("#schoolId").attr("lay-verify","");
 	   	}
 	   		 
 	});
        
        if($("#roleId_hidden").val() <= getrole  ){
        	if(  getrole != 1 && getuser == $("#id").val()){
	            $("#schoolId").find("option:selected").text(getschoolname);
	      	    $("#schoolId").attr("disabled",true);
      	    }	
  		}
      
    //监听提交
    form.on('submit(layuiadmin-app-form-submit)', function(data){
      var field = data.field; //获取提交的字段
      var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  

      //提交 Ajax 成功后，关闭当前弹层并重载表格
      //$.ajax({});
	  admin.req({
		  type: 'POST',
		  url: projectBase + '/user/updateUsers',
	      data: field,
		  dataType:'json',
		  success:function(res){
		  				if(res.code==0){       
		                          parent.layer.msg('修改用户成功!', {time:3000});
		                  } else            
		                          parent.layer.msg(res.msg, function(){
			  								parent.layer.msg(res.msg, {time:3000});
								  }); 
		  				 parent.layui.table.reload('demo'); //重载表格  
		                  },              
		   error:function (data) {
							layer.msg('修改用户的过程中出现错误!', function(){
								parent.layer.msg('修改用户的过程中出现错误!', {time:3000});
							});
							parent.layui.table.reload('demo'); //重载表格 
		    } 
	  });
	  
      parent.layui.table.reload('demo'); //重载表格
      parent.layer.close(index); //再执行关闭 
    });
    
   
   
  })
  </script>
</body>
</html>