

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>设置我的密码</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">修改密码</div>
          <div class="layui-card-body" pad15>
            
            <div class="layui-form" lay-filter="checkPass">
              <div class="layui-form-item">
                <label class="layui-form-label">当前密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="oldPassword" id="oldPassword" lay-verify="required" lay-verType="tips" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">新密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="password" id="password_test" lay-verify="pass_exp" lay-verType="tips" autocomplete="off" id="LAY_password" class="layui-input">
                </div>
                <div class="layui-form-mid layui-word-aux">6到20个字符，不含空格</div>
              </div>
              <div class="layui-form-item">
                <label class="layui-form-label">确认新密码</label>
                <div class="layui-input-inline">
                  <input type="password" name="repassword" id="repassword_test" lay-verify="thesame_exp" lay-verType="tips" autocomplete="off" class="layui-input">
                </div>
              </div>
              <div class="layui-form-item">
                <div class="layui-input-block">
                  <button class="layui-btn" lay-submit lay-filter="checkPass">确认修改</button>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="../../layuiadmin/layui/layui.js"></script> 
  <script src="../util/Constants.js"></script>
  <script type="text/javascript" src="../../login/js/jquery-3.4.1.js"></script>
  <script type="text/javascript" src="../../login/js/jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="../../login/js/jQuery.md5.js"></script>
 
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'set', 'form','jquery'], function(){
    var $ = layui.$
    ,form = layui.form,
	projectBase = Class.getURL();
	
	form.verify({
		   	
		  //我们既支持上述函数式的方式，也支持下述数组的形式
		  //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
		  pass_exp: [
		    /^[\S]{6,20}$/
		    ,'密码必须6到20位，且不能出现空格'
		  ],
		  thesame_exp: function(value, item){ //value：表单的值、item：表单的DOM对象
		  
		    if(value!=$('#password_test').val())return layer.msg("两次输入的密码不一致!",function(){
				
			});	   
		  }
		  
		});  

	form.on('submit(checkPass)', function(data){
		console.log("begin1");
	  var field = data.field; //获取提交的字段
	  var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引  
	  //提交 Ajax 成功后，关闭当前ajax弹层并重载表格
	  console.log("begin2");
	  var userinfo = layui.data('userinfo');
	  field.token = userinfo['token'];
	  console.log("begin3");
	  console.log($('#oldPassword').val());
	  field.oldPassword = $.md5($('#oldPassword').val());
	  //console.log($.md5($('#password').val()));
	  field.password = $.md5($('#password_test').val());
	  field.repassword = $.md5($('#repassword_test').val());
	
	  $.ajax({
		  type: 'POST',
		  url: projectBase + '/user/changePassword',
	      data: field,
		  dataType:'json',
		  async: false,
		  success:function(res){
		  				if(res.code==0){ 
								layer.msg('修改密码成功!');      
								setTimeout(function(){
									
									parent.layui.admin.events.closeThisTabs();
									//var index = parent.layer.getFrameIndex(window.name);
									//parent.layer.close(index); //再执行关闭   
									},800);
		                  } else if(res.code == 10){
								layer.msg(res.msg, function(){
									
								});
							} else if(res.code==20){
								layer.msg(res.msg, function(){
									
								});
							} else if(res.code==30){
								layer.msg(res.msg, function(){
									
								});
							} else if (res.code==99){
		                        layer.msg('修改密码失败!', function(){
			  
								  });
		  					}
		  				    
		                  },              
		   error:function (data) {
							layer.msg('修改过程中出现错误!', function(){
								
							});
		    }
	  });
	  
	});
	  
});
  </script>
</body>
</html>