<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户维护</title>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
</head>
<body>

  <div class="layui-fluid">
		<div class="layui-card">

			<div class="layui-card-body">
				<table id="demo" lay-filter="demo"></table>
				<script type="text/html" id="test-table-toolbar-barDemo">
       			  <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="set"><i class="layui-icon layui-icon-set"></i>设置</a>
        		</script>
			</div>

			<div class="layui-card-body">
				<table id="demo2" lay-filter="demo2"></table>
				<script type="text/html" id="test-table-toolbar-barDemo">
       			   <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="set"><i class="layui-icon layui-icon-set"></i>设置</a>
       			</script>
			</div>
		</div>
	</div>

  <script src="../../layuiadmin/layui/layui.js"></script>
  <script src="../util/Constants.js"></script>  
  <script>
  var projectBase = Class.getURL();
  
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index', 'contlist', 'table', 'layer','admin'], function(){
	  var table = layui.table
	    ,form = layui.form
		,admin = layui.admin
	    ,upload = layui.upload;
	    var $ = layui.jquery
	    ,layer = layui.layer;
  
	table.render({
	  elem: '#demo'
	  ,height: 400
	  ,url: projectBase + '/role/roles_usersCount'//数据接口
	  //toolbar:'#toolbarDemo'
	  ,page: true //开启分页
	  ,cols: [[ //表头
		 {type: 'numbers', title: '序号'}
	    ,{field: 'roleName', title: '角色名称'}
	    ,{field: 'counts', title: '关联用户'}    
		,{fixed: 'right', title:'操作',  toolbar: '#test-table-toolbar-barDemo'}
	  ]]
	});
	
	table.render({
		  elem: '#demo2'
		  ,height: 400
		  ,url: projectBase + '/schooluser/schoolUser'//数据接口
		  //toolbar:'#toolbarDemo'
		  ,page: true //开启分页
		  ,cols: [[ //表头
			 {type: 'numbers', title: '序号'}
			,{field: "roleName", title: '角色'}
		    ,{field: 'schoolName', title: '院校名称'}
		    ,{field: 'userName', title: '关联用户'}    
			,{fixed: 'right', title:'操作',  toolbar: '#test-table-toolbar-barDemo'}
		  ]]
		});
	
	//监听行工具事件
	table.on('tool(demo)', function(obj){
	  var data = obj.data;
	  if(obj.event === 'del'){
	  } else if(obj.event === 'edit'){
	  } else if(obj.event === 'set') {
		
		   layer.open({
			    type: 2 //此处以iframe举例
			    ,title: '选择用户'
			    ,area: ['50%', '70%']
			    //,shade: 0
			    ,maxmin: true
			    /* ,offset: [ //为了演示，随机坐标
			    	 $(window).height()-700
			          ,$(window).width()-1200
			    ] */
				,btn: ['确认', '取消']
				,yes: function(index, layero){
				  //点击确认触发 iframe 内容中的按钮提交
				  var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
				  submit.click();
				  table.reload('demo');
				}
			    ,content: 'choose_user.html'
				,zIndex: layer.zIndex //重点1
			    ,success: function(layero, index){
				  var roleName = layero.find('iframe').contents().find("#roleName");
				  var roleId = layero.find('iframe').contents().find("#roleId");
				  $(roleName).val(data.roleName);
				  $(roleId).val(data.id);
 
			      layer.setTop(layero); //重点2  
			    }
			  });   

      }
	});
	

	//监听行工具事件
	table.on('tool(demo2)', function(obj){
	  var data = obj.data;
	  if(obj.event === 'del'){
	  } else if(obj.event === 'edit'){
	  } else if(obj.event === 'set') {
		
		   layer.open({
			    type: 2 //此处以iframe举例
			    ,title: '选择用户'
			    ,area: ['50%', '70%']
			    //,shade: 0
			    ,maxmin: true
			    /* ,offset: [ //为了演示，随机坐标
			    	 $(window).height()-700
			          ,$(window).width()-1200
			    ] */
				,btn: ['确认', '取消']
				,yes: function(index, layero){
				  //点击确认触发 iframe 内容中的按钮提交
				  var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
				  submit.click();
				  table.reload('demo2');
				}
			    ,content: 'edit_school_user.html'
				,zIndex: layer.zIndex //重点1
			    ,success: function(layero, index){
			    	var body = layer.getChildFrame('body',index);
			    	var inputList = body.find('input');
			    	$(inputList[0]).val(data.schoolId);
			    	$(inputList[1]).val(data.userId);
 
			      layer.setTop(layero); //重点2  
			    }
			  });   

      }
	});

	 //监听搜索
    form.on('submit(LAY-app-contlist-search)', function(data){
      var field = data.field;
      
      //执行重载
      table.reload('demo', {
        where: field
      });
    });
	 
	 
    $('.layui-btn.layuiadmin-btn-list').on('click', function(){
        var type = $(this).data('type');
        active[type] ? active[type].call(this) : '';
      });
    
  });
  
    
 
  </script>
</body>
</html>
